<!-- Adventurer managament page for administrators-->
<div class="page-header">
    <h1 class="cover-heading">Adventurer Management</h1>
    <div id="tableContainer">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#id</th>
                <th>Owner</th>
                <th>Adventurer Name</th>
                <th>Class</th>
                <th>Race</th>
                <th>ATK</th>
                <th>DEF</th>
                <th>HP</th>
                <th>Cost</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!--
Design Idea

Table of adventurers
Two tabs; Owned Adventurers / Marketplace adventurers

Ability to edit any individual adventurer
Ability to add an adventurer
Ability to remove an adventurer
-->